@inherits UmbracoViewPage<MyWebsite.Data.Models.CasesComponent>
@if (Model != null && Model.Cases.Any())
{
    var count = 0;
    <section class="showcase">
        <div class="container-fluid p-0">
            
            @foreach (var c in Model.Cases)
            {
                var isEven = count % 2 == 0;
                
                var image = c.Image?.MediaItem != null && !string.IsNullOrWhiteSpace(c.Image.MediaItem.Url()) ? c.Image.MediaItem.Url() : string.Empty;
                <div class="row g-0">
                    <div class="col-lg-6 @(isEven ? "order-lg-2" :  string.Empty) text-white showcase-img" style="background-image: url('@image')"></div>
                    <div class="col-lg-6 @(isEven ? "order-lg-1" :  string.Empty) my-auto showcase-text">
                        @if (!string.IsNullOrEmpty(c.Title))
                        {
                            <h2>@c.Title</h2>
                        }

                        @if (!string.IsNullOrWhiteSpace(c.Description))
                        {
                            <p class="lead mb-0">@c.Description</p>

                        }
                    </div>
                </div>
                
                count++;
            }
        </div>
    </section>

}    
