@inherits UmbracoViewPage<MyWebsite.Data.Models.TestimonialsComponent>
@if (Model != null)
{
    <section class="testimonials text-center bg-light">
        <div class="container">
            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h2 class="mb-5">@Model.Title</h2>
            }

            @if (Model.Testimonials.Any())
            {
                <div class="row">
                    @foreach (var testimonial in Model.Testimonials)
                    {
                        <div class="col-lg-4">
                            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                @if (testimonial.Image?.MediaItem != null && !string.IsNullOrWhiteSpace(testimonial.Image.MediaItem.Url()))
                                {
                                    <img class="img-fluid rounded-circle mb-3" src="@testimonial.Image.MediaItem.Url()" alt="..."/>
                                }
                                @if (!string.IsNullOrWhiteSpace(testimonial.Title))
                                {
                                    <h5>@testimonial.Title</h5>
                                }
                                @if (!string.IsNullOrWhiteSpace(testimonial.Subtitle))
                                {
                                    <p class="font-weight-light mb-0">@testimonial.Subtitle</p>

                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </section>
}

